This is notice under the {{{Purchase Agreement Name}}} between you and {{{Company Name}}}, dated {{{Effective Date}}}, that {{{Company Name}}} exercises its option to repurchase all of your unvested shares.  The company will mail you a check for the repurchase price, totaling {{{Total Repurchase Price}}} for {{{Number of Shares}}} shares at {{{Original Purchase Price}}} per share, your original purchase price.
